body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: Gilmer, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fadeIn1 {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.fadeIn2 {
  animation: fadeInAnimation ease 3.15s;
  animation-delay: 0.15s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.fadeIn3 {
  animation: fadeInAnimation ease 3.30s;
  animation-delay: 0.30s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.fadeIn4 {
  animation: fadeInAnimation ease 3.45s;
  animation-delay: 0.45s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}

@font-face {
  font-family: "Gilmer";
  src: local("Gilmer"), url(./styles/fonts/Gilmer\ Bold.otf) format("truetype");
}
